body {
    background: #171E28;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: large;
  }
  a {
      text-decoration: none;
      color: #FCF7F8
    }
  a:visited {
      color: #FCF7F8;
    }
  .title {
    padding: 1em;
    font-size: xx-large;
  }
  .copyright{
    color: grey;
    text-align: center;
    position: relative;
    bottom: 3px;
    font-size: x-small;
  }
  
  .footerPlaceHolder {
    position: relative;
    bottom: auto;
    width: auto;
  }
  .bl {
    color: #8FBBEA
  }
  .bl-b {
    background: #617E9E;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
  }
  .intron  {
    background-color: #617E9E;
    color: #FCF7F8;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  
  p {
  text-align: center;
  }
  
  b {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  }
  .name, .link {
  padding: 0;
  margin: 0 0.5em;
  list-style: none;
  }
  
  .name {
  margin-left: auto;
  text-align: left;
  }
  
  .link {
  margin-right: auto;
  text-align: right;
  }
  
  .name > li, .link > li {
  color: black;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  }
  #icon {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
  }

  .container{
    clear:both;
    overflow:auto;
  } 
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 3.5%;
  }